@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-100: #fafafa;
  --color-base-200: #f5f5f5;

  --color-primary: #7008e7;
  --color-primary-content: #ede9fe;
  --color-secondary: #8200db;
  --color-secondary-content: #f3e8ff;
  --color-accent: #627382;
  --color-accent-content: #ffffff;
  --color-neutral: #e5e5e5;
  --color-neutral-content: #0a0a0a;
  --color-info: #3b82f6;
  --color-info-content: #ffffff;
  --color-success: #b9f8cf;
  --color-success-content: #032e15;
  --color-warning: #ffd6a7;
  --color-warning-content: #441306;
  --color-error: #ffc9c9;
  --color-error-content: #460809;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: false;

  --color-base-100: #0f0f12; /* Main dark background */
  --color-base-200: #18181b; /* Slightly lighter */
  --color-base-300: #0a0a0a; /* Card / elevated surfaces */

  --color-primary: #3b82f6; 
  --color-primary-content: #3b82f6;
 --color-secondary: #ad46ff;
  --color-secondary-content: #f3e8ff;
  --color-accent: #627382;
  --color-accent-content: #ffffff;
  --color-neutral: #e5e5e5;
  --color-neutral-content: #0a0a0a;
  --color-info: #60a5fa;
  --color-info-content: #60a5fa;
  --color-success: #b9f8cf;
  --color-success-content: #032e15;
  --color-warning: #ffd6a7;
  --color-warning-content: #441306;
  --color-error: #ffc9c9;
  --color-error-content: #460809;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-theme="dark"] body {
    @apply text-[#e2e8f0] bg-base-200;
  }
}

* {
  font-family: "Montserrat", sans-serif;
}

.text-gradient {
  @apply bg-linear-to-br from-primary to-secondary text-transparent bg-clip-text;
}

/* @keyframes gradient-animation {
  0% { background: linear-gradient(0deg, #d299c2,#d8a5c5,#ddb1c7,#e3bdca,#e8c9cd,#eed5cf,#f3e1d2,#f9edd4,#fef9d7); }
  25% { background: linear-gradient(90deg, #d299c2,#d8a5c5,#ddb1c7,#e3bdca,#e8c9cd,#eed5cf,#f3e1d2,#f9edd4,#fef9d7); }
  50% { background: linear-gradient(180deg, #d299c2,#d8a5c5,#ddb1c7,#e3bdca,#e8c9cd,#eed5cf,#f3e1d2,#f9edd4,#fef9d7); }
  75% { background: linear-gradient(270deg, #d299c2,#d8a5c5,#ddb1c7,#e3bdca,#e8c9cd,#eed5cf,#f3e1d2,#f9edd4,#fef9d7); }
  100% { background: linear-gradient(360deg, #d299c2,#d8a5c5,#ddb1c7,#e3bdca,#e8c9cd,#eed5cf,#f3e1d2,#f9edd4,#fef9d7); }
}
.animated-gradient {
  animation: gradient-animation 9s linear infinite;
} */

.sunset-animated-gradient {
  background: linear-gradient(
    90deg,
    #ff7e5f,
    #ff8563,
    #ff8c66,
    #ff926a,
    #ff996d,
    #fea071,
    #fea774,
    #fead78,
    #feb47b
  );
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.berry-animated-gradient {
  background: linear-gradient(
    90deg,
    #4e54c8,
    #565cce,
    #5e64d5,
    #666cdb,
    #6f74e2,
    #777ce8,
    #7f84ee,
    #878cf5,
    #8f94fb
  );
  background-size: 400% 400%;
  animation: smoothGradient 8s ease-in-out infinite;
}

.animated-gradient {
  background: linear-gradient(
    90deg,
    #8e2de2,
    #8627e2,
    #7d22e2,
    #751ce1,
    #6c17e1,
    #6411e1,
    #5b0be1,
    #5306e0,
    #4a00e0
  );
  background-size: 400% 400%;
  animation: smoothGradient 8s ease-in-out infinite;
}

@keyframes smoothGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
